<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="ConfigHubOffline" value=".confighub/offline-nuget" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="ConfigHubOffline">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
